
<mat-toolbar color='primary'>
    <button mat-button routerLink="">Home</button>
    <button mat-button *ngIf="!isLoggedIn" routerLink="login">Login</button>
    <button mat-button *ngIf="isLoggedIn" (click)="onLogout()">Logout</button>
    <button mat-button [matMenuTriggerFor]="invoiceMenu">Invoices</button>
    <mat-menu  #invoiceMenu="matMenu">
      <button  mat-menu-item>Manage</button>
      <button mat-menu-item>Invoices</button>
      <button mat-menu-item>User</button>
    </mat-menu>
    <button mat-button *ngIf="!isLoggedIn" routerLink="register">Register</button>
</mat-toolbar>
